{% extends "main.html" %} 
{% load static %} 
{%block head%}

<script src="{% static 'task/js/task_grid.js' %}"></script>

{%endblock%} 

{% block body %}

<body onload="form_fetch()">

<form method="post" id="form_query" action="{% url 'task:task_sql_to_table' %}">
  {% csrf_token %}

  <input type="hidden" name="offset" placeholder="offset" id="stt_offset" value="0" onFocus="form_fetch()">

   <div style="position:absolute;border:0px solid silver;width:80%;height:10%;top:5%;left:1%" >

    <div style="position:absolute;border:0px solid silver;width:15%;height:100%;top:25%;left:1%" >

     
      <select class="form-select" id="prioridade" name="prioridade" required>
          <option value="%">Todas as prioridades</option>
          <option value="4" {% if task_data.prioridade == "4" %}selected{% endif %}>4-❄️ Baixa</option>
          <option value="3" {% if task_data.prioridade == "3" %}selected{% endif %}>3-😐 Média</option>
          <option value="2" {% if task_data.prioridade == "2" %}selected{% endif %}>2-⚠️ Alta</option>
          <option value="1" {% if task_data.prioridade == "1" %}selected{% endif %}>1-🔥 Crítica</option>
      </select>

    </div>

    <div style="position:absolute;border:0px solid silver;width:15%;height:100%;top:25%;left:20%" >
                       
                    <select name="dev" id="dev" class="form-select"> 
                    <option value='%'>Todos os devs</option>                         
                    {% for dev in devs %}
                        <option value={{dev.id}}>{{ dev.name }}</option>                                                
                    {% endfor %}
                    </select>                
                    
      </div>          

    <div style="position:absolute;border:0px solid silver;width:10%;height:100%;top:25%;left:40%" >

      <button type="button" class="btn btn-primary" onclick="form_fetch(true)">🔎 Filtrar</button>

    </div>  


  </div>


</form>

 <div id="dv_data" style="position:absolute;border:0px solid silver;width:98%;height:80%;top:15%;left:1%" >

   


 </div>






  <div id="dv_data_change" style="position:absolute;border:1px solid silver;width:60%;height:60%;top:20%;left:20%;z-index:5;background-color:silver;display:none">

    <div style="background-color:#ccc;padding:10px;border-bottom:1px solid silver;height:40px;display:flex;justify-content:space-between;align-items:center">
      <span>Alterar a prioridade:</span>
      <span style="cursor:pointer" onclick="document.getElementById('dv_data_change').style.display='none'">X</span>
    </div>

    <div style="padding:10px;height:70%;overflow-y:auto;display:flex;justify-content:center;align-items:center">
      <div style="width:80%">
        <div class="mb-3">
          <label for="prioridade" class="form-label">Prioridade:</label>
          <select class="form-select" id="prioridade_change" name="prioridade_change" required>
            <option value="" disabled {% if not task_data.prioridade %}selected{% endif %}>Selecione uma prioridade</option>
                <option value="4" {% if task_data.prioridade == "4" %}selected{% endif %}>4-❄️ Baixa</option>
                <option value="3" {% if task_data.prioridade == "3" %}selected{% endif %}>3-😐 Média</option>
                <option value="2" {% if task_data.prioridade == "2" %}selected{% endif %}>2-⚠️ Alta</option>
                <option value="1" {% if task_data.prioridade == "1" %}selected{% endif %}>1-🔥 Crítica</option>
          </select>

          <input type="hidden" id="ed_id_task">

          <div style="position:absolute;padding:10px;top:80%;overflow-y:auto;display:flex;justify-content:center;align-items:center">
            <button class="btn btn-primary" onclick="change_priority()">OK</button>
          </div>

        </div>
      </div>
    </div>

  </div>

{%endblock%}
