{% extends "main.html" %}
{% load static %}

{% block body %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center"> 📸 Print Screen</h2>
            <form method="post" enctype="multipart/form-data" action="{% url 'print:print_add' %}">
                {% csrf_token %}
                <input type="hidden" name="cod_task" value="{{ cod_task }}">
                <input type="file" name="image" required class="form-control">
                <button type="submit" class="btn btn-primary w-100 mt-2">Salvar</button>
            </form>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for image in arr_images %}
                        <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                            {% if image.image.url|lower|slice:"-4:" == ".mp4" %}
                                <video width="100%" height="auto" controls>
                                    <source src="{{ image.image.url }}" type="video/mp4">
                                    Seu navegador não suporta o vídeo.
                                </video>
                            {% else %}
                                <img src="{{ image.image.url }}" class="d-block mx-auto" style="max-width: 100%; height: auto;" alt="...">
                            {% endif %}
                        </div>
                    {% empty %}
                        <p>Nenhuma imagem encontrada para a tarefa id {{ cod_task }}.</p>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Próximo</span>
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}